<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Where are you going!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/animate.css">
  <link rel="stylesheet" href="../css/hover-min.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
  <link rel="stylesheet" href="../fontawesome-free-5.6.0-web/css/all.css">
  <link rel="stylesheet" type="text/css" media="screen" href="../css/index_style.css" />
</head>

<body>

  <a href="#page-home" class="arrtp">
    <i style="color:#207fdd" class="fas fa-chevron-circle-up fa-3x arr-top"></i>

  </a>


  <div style="height:2px;background-image:radial-gradient(rgb(172, 170, 170),white,white);width:70%;" class="m-auto"></div>

  <section id="blog" class=" my-5 pt-5">
    <div class="container text-center">
      <h2 style="font-weight:bold;">In order to visit this page you have to be
        <%=not%>
      </h2>
      <h6 style="color:#555">guess you are not... You can </h6>
      <a href="/">go back to Home</a>
    </div>

  </section>

  <section style="background-color:rgb(49, 49, 49)" id="contact" class=" pt-5 text-center">
    <div style="border:1px solid white" class="container my-5 pt-3">
      <h5 style="font-size:30px;color:white;">
        Need a Doctor for Check-up?</h5>
      <h1 style="font-size:38px;color:white;" class="float-left">JUST MAKE AN APPOINTMENT & YOU'RE DONE !
      </h1>
      <a href="/appointment" class="float-right btn btn-danger hvr-my px-4 mb-4" style="padding-bottom:10px;padding-top:10px;font-weight:bold;font-size:12px;background-color:#207fdd;border:0px;border-radius:20px">GET
        AN APPOINTMENT</a>
      <div class="clrx"></div>
    </div>
    <div>
      <img class="mb-3" src="../images/logo.png" alt="">
    </div>

    <div class="container pb-3 px-5" style="">
      <p style="color:white;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
        has been the.

      </p>
      <div class="ml-5 pl-5">

        <i style="color:white" class="fa fa-location-arrow fa-2x float-left mr-2 ml-5 "></i>
        <h6 style="color:white;" class="float-left mr-5">PO Box 16122 Collins Street <br>
          West Victoria 8007 Australia
        </h6>
        <i style="color:white" class="fas fa-phone fa-2x float-left mx-2"></i>
        <h6 style="color:white;" class="float-left mr-5">+880153625892</h6>
        <i style="color:white" class="fas fa-mail-bulk fa-2x float-left mx-2"></i>
        <h6 style="color:white;" class="float-left mr-5">bdtask@gmail.com</h6>

      </div>
      <div class="clrx"></div>
    </div>

  </section>

  <section style="background-color:rgb(36, 36, 36)" id="copyright" class="py-3 text-center">
    <h6 style="color:white;">Copyright © 2016. All rights reserved</h6>
  </section>


  <script src="../js/jquery-3.3.1.min.js"></script>
  <script src="../js/popper.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../fontawesome-free-5.6.0-web/js/all.js"></script>
  <script src="../js/main.js"></script>
  <script src="../js/wow.min.js"></script>


</body>

</html>