<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Log in</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./css/animate.css">
  <link rel="stylesheet" href="./css/hover-min.css">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
  <link rel="stylesheet" href="./fontawesome-free-5.6.0-web/css/all.css">
  <link rel="stylesheet" type="text/css" media="screen" href="./css/index_style.css" />
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <a class="navbar-brand ml-5 pl-5" href="/"><img src="./images/logo.png" alt="" style="height:40px;width:150px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active navbar-items">
          <a style="font-weight:bold;font-size:14px; " class="nav-link mr-3" href="/">Home
            <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active scrollable navbar-items">
          <a style="font-weight:bold;font-size:14px;" class="nav-link mr-3" href="/about">About <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active navbar-items">
          <a style="font-weight:bold;font-size:14px;" class="nav-link mr-3" href="/services">Service
            <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active navbar-items">
          <a style="font-weight:bold;font-size:14px;" class="nav-link mr-3" href="/appointment">Appointmnet
            <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active navbar-items">
          <a style="font-weight:bold;font-size:14px;" class="nav-link mr-3" href="/doctors">Doctors
            <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active navbar-items">
          <a style="font-weight:bold;font-size:14px;" class="nav-link mr-3" href="/department">Department
            <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active navbar-items">
          <a style="font-weight:bold;font-size:14px;" class="nav-link mr-3" href="/blog">Blog <span class="sr-only">(current)</span></a>
        </li>
        <li class="mr-5 ">
          <a id="login" href="/login" style="border-radius:20px;border:none !important;" class="btn btn-danger">Log In</a>
        </li>
      </ul>
    </div>
  </nav>

  <section id="register-home" class=" py-5">
    <div class="reg-layer">
      <div class="container  py-5">
        <div class="row ">
          <div class="col-md-8 ">
            <form onsubmit="return validateForm()" name="register-form" class="form-app form-control my-2" method="POST"
              action="./login" action="./registration_form">
              <h3 style="font-weight:bold;" class="pt-4">Sign-in</h3>

              <div style="height:2px;background-color:#207fdd;width:10%;" class="mb-4"></div>

              <h6 style="font-size:14px;font-weight:bold;">Email</h6>
              <input class="form-control  my-3" placeholder="Enter your email" type="text" name="userID" id="userID">

              <h6 style="font-size:14px;font-weight:bold;">Password</h6>
              <input class="form-control  my-3" placeholder="Enter your password" type="password" name="pass" id="userPassword">

              <div class="container ml-5 pl-5">
                <button style="width:30%; border-radius:20px;border:none !important;" class="btn btn-danger ml-4 my-3">Log
                  in</button>
              </div>

              <% if (validation === 1)   { %>
              <h6 id="caution" style="font-size:14px;font-weight:bold; color: red;">*Your e-mail is Incorrect.</h6>
              <% } %>
              <% if (validation === 2)   { %>
              <h6 id="caution" style="font-size:14px;font-weight:bold; color: red;">*Your password is Incorrect.</h6>
              <% } %>


            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section style="background-color:rgb(36, 36, 36)" id="copyright" class=" py-3 text-center">
    <h6 style="color:white;">Copyright © 2016. All rights reserved</h6>
  </section>

  <script src="./js/jquery-3.3.1.min.js"></script>
  <script src="./js/popper.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <script src="./fontawesome-free-5.6.0-web/js/all.js"></script>
  <script src="./js/login.js"></script>
  <script src="./js/wow.min.js"></script>

</body>

</html>